{% extends 'base.html.twig' %}

{% block title %}
    Místnosti
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Místnosti</h1>
        <div class="page-header__actions">
            <a
                    href="{{ path('rooms_create') }}"
                    class="button button--primary"
            >Vytvořit</a>
        </div>
    </div>
    <section>
        <h2>Moje místnosti</h2>
        <span class="infoheading">Místnosti, které si můžete rezervovat</span>
        <div class="rooms">
            {% for room in my_rooms %}
                <article class="rooms__card">
                    <h3>{{ room.getName() }}</h3>
                    <span class="subtitle">Spravuje {% if room.getManager() is not null %}<a
                            href="{{ path('users_detail', {id: room.getManager().getId()}) }}">{{ room.getManager().getName() }}</a> {% endif %}{% if room.getOwnerGroup() is not null %}
                            , <a
                                href="{{ path('groups_detail', {id: room.getOwnerGroup().getId()}) }}">
                            Skupina {{ room.getOwnerGroup().getId() }}</a>{% endif %}</span>
                    <span class="subtitle">Obsazeno {{ room.getOccupantsCount() }}</span>
                    {#                <p> #}
                    {#                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum voluptates. #}
                    {#                    Quisquam, voluptatum voluptates. #}
                    {#                </p> #}
                    <div class="rooms__card__actions">
                        <a
                                href="{{ path('rooms_detail', {id: room.getId()}) }}"
                                class="button button--primary"
                        >Rezervovat</a
                        >
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>Spravované místnosti</h2>
        <span class="infoheading">Místnosti, ke kterým máte právo správce (přímé nebo ze skupiny)</span>
        <div class="rooms">
            {% for room in managed_rooms %}
                <article class="rooms__card">
                    <h3>{{ room.getName() }}</h3>
                    <span class="subtitle">Spravuje {% if room.getManager() is not null %}<a
                            href="{{ path('users_detail', {id: room.getManager().getId()}) }}">{{ room.getManager().getName() }}</a> {% endif %}{% if room.getOwnerGroup() is not null %}
                            , <a
                                href="{{ path('groups_detail', {id: room.getOwnerGroup().getId()}) }}">
                            Skupina {{ room.getOwnerGroup().getId() }}</a>{% endif %}</span>
                    <span class="subtitle">Obsazeno {{ room.getOccupantsCount() }}</span>
                    {#                <p> #}
                    {#                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum voluptates. #}
                    {#                    Quisquam, voluptatum voluptates. #}
                    {#                </p> #}
                    <div class="rooms__card__actions">
                        <a
                                href="{{ path('rooms_detail', {id: room.getId()}) }}"
                                class="button button--primary"
                        >Rezervovat</a
                        >
                        <a
                                href="{{ path('rooms_edit', {id: room.getId()}) }}"
                                class="button button--black"
                        >Upravit</a
                        >
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
