<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ asset('styles/main.css') }}"
    />
    <title>{% block title 'Home'|title %} | Rezervační systém</title>
</head>
<body>

<!-- Mobile menu toggle button -->
<button class="menu-toggle" onclick="menuToggle()">
    <i class="fa-solid fa-bars" id="toggle-icon"></i>
</button>

<!-- Aside navigation -->
<aside class="menu menu-hidden" id="menu">

    <!-- User info -->
    <div class="menu-user">
        {% if is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('users_detail', {id: app.user.id}) }}">
                <img
                        src="https://api.dicebear.com/7.x/personas/svg?seed={{ app.user.username }}124&backgroundType=gradientLinear&eyes=happy,open,wink,glasses,sleep&hair=beanie,bobBangs,bobCut,bunUndercut,cap,curlyBun,curlyHighTop,extraLong,fade,long,mohawk,pigtails,shortCombover,shortComboverChops,sideShave,straightBun&mouth=smile,surprise,smirk&backgroundColor=b6e3f4,c0aede,d1d4f9,ffd5dc,ffdfbf"
                        alt="User avatar"
                        class="menu-user__avatar"
                />
            </a>
            <span class="menu-user__name">
                <a href="{{ path('users_detail', {id: app.user.id}) }}">{{ app.user.name }}</a>
            </span>
            <span class="menu-user__role">{{ app.user.username }} | {{ app.user.roles[0] }}</span>
        {% else %}
            <a
                    href="{{ path('app_login') }}"
                    class="button button--primary"
            >Přihlásit se</a>
        {% endif %}
    </div>

    <nav>
        <ul>
            <li {% if app.request.get('_route') == 'homepage' %} class="active" {% endif %}>
                <a href="{{ path('homepage') }}"><i class="fa-solid fa-home"></i> Hlavní strana</a>
            </li>
            <li {% if app.request.get('_route') == 'rooms_list' %} class="active" {% endif %}>
                <a href="{{ path('rooms_list') }}"><i class="fa-solid fa-graduation-cap"></i> Místnosti</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED') %}
                <li {% if app.request.get('_route') == 'requests_list' %} class="active" {% endif %}>
                    <a href="{{ path('requests_list') }}"><i class="fa-solid fa-pen-to-square"></i> Moje žádosti</a>
                </li>
                <li {% if app.request.get('_route') == 'groups_list' %} class="active" {% endif %}>
                    <a href="{{ path('groups_list') }}"><i class="fa-solid fa-user-group"></i> Skupiny</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li {% if app.request.get('_route') == 'users_list' %} class="active" {% endif %}>
                    <a href="{{ path('users_list') }}"><i class="fa-solid fa-user"></i> Uživatelé</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li {% if app.request.get('_route') == 'buildings_list' %} class="active" {% endif %}>
                    <a href="{{ path('buildings_list') }}"><i class="fa-solid fa-building"></i> Budovy</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if is_granted('IS_AUTHENTICATED') %}
        <a
                href="{{ path('app_logout') }}"
                class="menu__logout"
        >Odhlásit se</a>
    {% endif %}
</aside>

<!-- Main content -->
<main class="content">
    {% block content %}
    {% endblock %}
</main>

{% block javascripts %}
{% endblock %}
<script src="{{ asset('scripts/menu-toggle.js') }}"></script>

</body>
</html>

