<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ asset('styles/main.css') }}"
    />
    <title>{% block title 'Přihlásit se'|title %} | Rezervační systém</title>
</head>

<body class="empty empty--darker">

<!-- Main content -->
<main class="login-form">
    <h1 class="login-form__title">Rezervační systém</h1>

    <!-- Login form -->
    <div class="login-form__content">
        <form
                action="{{ path('app_login') }}"
                method="post"
        >
            <label for="username">Uživatelské jméno</label>
            <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="jnovak"
                    value="{{ last_username }}"
                    required
            />
            <label for="password">Heslo</label>
            <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="********"
                    required
            />

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <input
                    type="submit"
                    value="Přihlásit se"
            />
        </form>

        {% if error %}
            <p class="login-form__error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
    </div>

    <div class="login-form__links">
        <a href="{{ path('app_register') }}">Registrace</a>
    </div>

</main>
</body>
</html>
