{% extends 'base.html.twig' %}

{% block title %}
    Uživatelé
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Uživatelé</h1>
        <div class="page-header__actions">
            <a
                    href="{{ path('users_create') }}"
                    class="button button--primary"
            >Vytvořit</a
            >
        </div>
    </div>

    <section>
        <h2>Běžní uživatelé</h2>
        <table>
            <thead>
            <tr>
                <th scope="col">Jméno</th>
                <th scope="col">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for user in basic_users %}
                <tr aria-rowindex="{{ user.getId() }}">
                    <th scope="row"><a href="{{ path('users_detail', {id: user.getId()}) }}">{{ user.getName() }}</a>
                    </th>
                    <td>
                        <a
                                href="{{ path('users_edit', {id: user.getId()}) }}"
                                class="button button--primary"
                        >Upravit</a
                        >
                        <a
                                href="{{ path('users_delete', {id: user.getId()}) }}"
                                class="button button--black"
                        >Odstranit</a
                        >
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h2>Správci</h2>
        <table>
            <thead>
            <tr>
                <th scope="col">Jméno</th>
                <th scope="col">Ve skupinách</th>
                <th scope="col">Spravuje místností</th>
                <th scope="col">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for user in manager_users %}
                <tr aria-rowindex="{{ user.getId() }}">
                    <th scope="row"><a href="{{ path('users_detail', {id: user.getId()}) }}">{{ user.getName() }}</a>
                    </th>
                    <td>{{ user.getGroupsCount() }}</td>
                    <td>{{ user.getManagedRoomsCount() }}</td>
                    <td>
                        <a
                                href="{{ path('users_edit', {id: user.getId()}) }}"
                                class="button button--primary"
                        >Upravit</a
                        >
                        <a
                                href="{{ path('users_delete', {id: user.getId()}) }}"
                                class="button button--black"
                        >Odstranit</a
                        >
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h2>Administrátoři</h2>
        <table>
            <thead>
            <tr>
                <th scope="col">Jméno</th>
                <th scope="col">Ve skupinách</th>
                <th scope="col">Spravuje místností</th>
                <th scope="col">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for user in admin_users %}
                <tr aria-rowindex="{{ user.getId() }}">
                    <th scope="row"><a href="{{ path('users_detail', {id: user.getId()}) }}">{{ user.getName() }}</a>
                    </th>
                    <td>{{ user.getGroupsCount() }}</td>
                    <td>{{ user.getManagedRoomsCount() }}</td>
                    <td>
                        <a
                                href="{{ path('users_edit', {id: user.getId()}) }}"
                                class="button button--primary"
                        >Upravit</a
                        >
                        <a
                                href="{{ path('users_delete', {id: user.getId()}) }}"
                                class="button button--black"
                        >Odstranit</a
                        >
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
